../.vscode/*
reference/
en_decode/
src/indexFileGenerator/test*
first*
index
build/
data/
# ignore the gigantic datafile
yelp_final_dataset
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app


src/indexFileGenerator/index1000
src/indexFileGenerator/index100000
src/indexFileGenerator/index500000
src/indexFileGenerator/text
src/indexFileGenerator/word.line.index
src/test01
